build
dist
.env
.vscode
.git
.gitignore
.coverage
.pytest_cache
.mypy_cache
venv
__pycache__
**/*.pyc
**/__pycache__
images
media
*.egg-info
pip-wheel-metadata
data-test
tmp
node_modules
.log
artifacts/scripts
